name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build-and-test:
    strategy:
      matrix:
        ARCH: [x86_64, i386]
      fail-fast: false

    name: ${{ matrix.ARCH }}
    runs-on: ubuntu-latest

    env:
      ARCH: ${{ matrix.ARCH }}
      BUILD_TYPE: ${{ matrix.BUILD_TYPE }}
      DEBIAN_FRONTEND: interactive

    steps:
      # check out once git command is available
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build and test AppImage
        run: bash ci/build-in-docker.sh

      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          name: AppImage
          path: linuxdeploy-plugin-qt-"$ARCH".AppImage*

  upload:
    name: Create release and upload artifacts
    needs:
      - build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v2
      - name: Inspect directory after downloading artifacts
        run: ls -alFR
      - name: Create release and upload artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
            wget -q https://github.com/TheAssassin/pyuploadtool/releases/download/continuous/pyuploadtool-x86_64.AppImage
            chmod +x pyuploadtool-x86_64.AppImage
            ./pyuploadtool-x86_64.AppImage **/linuxdeploy-plugin-qt*.AppImage*
